/*
Name : Mcare - Medical and Health Mobile Template
Author : Rabonadev
Author URL : https://www.bootstrapmb.com
*/
/*===================
	Table of contents:
	- Import Fonts
	- General
	- Button
	- Navbar
	- Slider
	- Form Book
	- Open hours
	- Doctor
	- Services
	- Features
	- Details
	- Gallery
	- Department
	- Product
	- Checkout
	- Shopping Cart
	- Blog
	- Blog single
	- Login
	- Register
	- 404 pages
	- Testimonial
	- Faq
	- Footer
	
===================*/

/*===================
	import fonts
===================*/
@import url('https://fonts.googleapis.com/css?family=Muli:400,600,700,800|Playfair+Display:400,700,900|Roboto+Condensed:400,700');

/*===================
	general
===================*/
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: #fff;
	color: #888;
	font-family: 'Muli', sans-serif;
}

body::-webkit-scrollbar {
	display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	color: #343434;
	font-family: 'Roboto Condensed', sans-serif;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 34px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 26px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 16px;
}

a {
	color: #333;
}

p {
	margin: 8px 0 10px 0;
	line-height: 18px;
}

/*===================
	button
===================*/
.button {
	background: #52c0ff;
	border: 0;
	border-color: transparent;
	color: #fff;
	padding: 2px 12px 3px;
	border-radius: 2px;
	font-size: 13px;
	font-weight: 400;
}

/*===================
	navbar
===================*/
.navbar {
	width: 100%;
	height: 60px;
	padding: 15px 0;
	z-index: 9;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	border-bottom: 2px solid #f5f5f5;
}

.site-title {
	display: inline-block;
	position: relative;
	top: -5px;
}

.site-title h1 {
	font-size: 28px;
	padding: 0;
	margin: 0;
	font-weight: 700;
	color: #33261c;
	padding-top: 2px;
	font-family: 'Playfair Display', serif;
}

.site-title h1 i {
	color: #52c0ff;
	font-size: 32px;
	margin-left: 2px;
}

.side-nav a {
	padding: 0 16px;
}

.side-nav a:hover {
	background: transparent;
}

/*panel control left*/
.panel-control-left {
	float: left;
	font-size: 20px;
}

.panel-control-left .sidenav-control-left i {
	color: #33261c;
}

.panel-control-left ul {
	padding-top: 20px;
	padding: 10px 0;
}

.panel-control-left ul li {
	border-bottom: dotted 1px #eee;
}

.panel-control-left ul li a {
	font-size: 15px;
}

.panel-control-left .side-nav li a i {
	margin-right: 5px;
	color: #52c0ff;
}

.panel-control-left .side-nav .collapsible-header {
	font-size: 15px;
	color: rgba(0,0,0,0.87);
}

.panel-control-left .side-nav .collapsible-header span i {
	float: right;
	text-align: right;
	font-size: 12px;
}

.panel-control-left .side-nav .collapsible-header:hover {
	background: transparent;
}

.panel-control-left .side-nav .collapsible-header.active {
	border-bottom: dotted 1px #ddd;
}

.panel-control-left .side-nav li.active {
	border-bottom: solid 1px #eee;
	background: transparent;
}

.panel-control-left .side-nav .collapsible-header i {
	color: #52c0ff;
	font-size: 16px;
	width: 24px;
	margin-right: 5px;
	text-align: left;
}

.panel-control-left .collapsible-body ul {
	padding: 0 0 0 0;
	margin: 0;
}

.panel-control-left .collapsible-body ul li a {
	padding-left: 45px;
	height: 40px;
	line-height: 40px;
}

.panel-control-left .categories-in li {
	line-height: 40px;
}

.panel-control-left .categories-in .collapsible-body ul li a {
	height: 36px;
	line-height: 36px;
}

.panel-control-left .categories-in .collapsible-header {
	padding-left: 45px;
}

.panel-control-left .categories-in .collapsible-body ul li a {
	padding-left: 60px;
}

/*panel control right*/
.panel-control-right {
	float: right;
	font-size: 20px;
}

.panel-control-right h6 {
	font-size: 16px;
}

.panel-control-right .side-nav {
	padding: 0;
}

.panel-control-right .side-nav li a i {
	margin-right: 5px;
}

.panel-control-right .sidenav-control-right i {
	right: -8px;
	position: relative;
	font-size: 18px;
	color: #33261c;
}

.panel-control-right .sidenav-control-right span {
	background: #52c0ff;
	border-radius: 50%;
	color: #fff;
	position: relative;
	bottom: 8px;
	padding: 1px 5px;
	font-size: 12px;
}

.panel-control-right img {
	width: 100%;
	height: 100%;
}

.panel-control-right .side-nav {
	padding: 30px 10px;
}

.panel-control-right .action i {
	float: right;
	cursor: pointer;
	font-size: 18px;
}

.panel-control-right .entry {
	border-bottom: 1px solid #eee;
	padding-bottom: 12px;	
}

.panel-control-right .desc .rating {
	position: relative;
	bottom: 5px;
}

.panel-control-right .desc i {
	font-size: 12px;
}

.panel-control-right .desc h6 span {
	color: #52c0ff;
}

.panel-control-right .price {
	text-align: right;
}

.panel-control-right ul li {
	display: inline-block;
	text-align: right;
	float: right;
	margin: 10px;
	margin-left: 0;
}

.panel-control-right ul li .button {
	font-size: 14px;
	line-height: 17px;
	position: relative;
	bottom: 20px;
	padding: 5px 10px 7px;
}

/*===================
	slider
===================*/
.slider-slick {
	position: relative;
	overflow: hidden;
}

.slider-slick .slider-entry {
	position: relative;
	height: 320px;
}


@media (min-width: 768px) {
	.slider-slick .slider-entry {
		position: relative;
		height: 430px;
	}
}

.slider-slick .overlay {
	background: rgba(0, 0, 0, 0.42);
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	right: 0;
}

.slider-slick img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slider-slick .caption {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 45%;
	color: #fff;
	z-index: 999;
	overflow-wrap: break-word;
	text-align: center;
}

.slider-slick .caption h2 {
	color: #fff;
	font-size: 22px;
	font-weight: 600;
	font-family: 'Playfair Display', serif;
}

.slider-slick .slick-dots {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	width: 100%;
}

.slider-slick .slick-dots li {
	width: auto;
}

.slider-slick .slick-dots li button {
	width: 10px;
	height: 10px;
	background: #fff;
	border-radius: 50%;
}

.slider-slick .slick-dots li button {
	width: 10px;
	height: 10px;
	background: #fff;
	border-radius: 50%;
}

.slider-slick .slick-dots li.slick-active button {
	background: #52c0ff;
}

.slider-slick .slick-dots li button::before {
	font-size: 0;
	color: transparent;
}

.slick-prev, .slick-next {
	top: 60%;
}

.slider-slick .slick-next {
	right: 10px;
}

.slider-slick .slick-prev {
	left: 10px;
	z-index: 1;
}

.slick-prev::before {
	content: "\f053";
	font-family: FontAwesome;
	color: #eee;
}

.slick-next::before {
	content: "\f054";
	font-family: FontAwesome;
	color: #eee;
}

/*===================
	form book
===================*/
.form-book {
	position: relative;
	top: -45px;
	margin-bottom: -45px;
	padding-bottom: 30px;
}

.form-book-entry {
	background: #f4f4f4;
    background-size: cover;
	padding: 25px 20px 20px;
	border-radius: 1px;
	border: 1px solid #52c0ff;
	border-top: 1px solid #52c0ff;
}

.form-book-entry h4 {
	font-size: 18px;
	margin-bottom: 16px;
}

.form-book-entry input,
.form-book-entry textarea {
	background: #fff;
	border-color: #ddd !important;
	margin-bottom: 15px;
}

.form-book-entry .select-wrapper input.select-dropdown {
	background: #fff;
	border-color: #ddd;
	color: #999;
	line-height: 20px;
}

.form-book-entry .select-wrapper span.caret {
	right: 10px;
	color: #777;
	z-index: 1;
}

.form-book-entry .dropdown-content li > a, .dropdown-content li > span {
	color: #888;
}

.form-book-entry .row {
	margin-bottom: 0;
}

/*===================
	open hours
===================*/
.open-hours {
	background: #52c0ff;
	color: #fff;
}

.open-hours .app-title h4 {
	color: #fff;
}

.open-hours .app-title .line {
	background: #fff;
}

.open-hours .entry {
	text-align: center;
	border: 1px solid #fff;
	padding: 15px;
	border-radius: 4px;
}

.open-hours .entry h5 {
	font-size: 18px;
	color: #fff;
} 

.open-hours .entry h6 {
	margin-top: 5px;
	color: #f4f4f4;
	font-size: 14px;
}

.open-hours .entry .dividing {
	height: 10px;
}

/*===================
	features
===================*/
.doctor {
	text-align: center;
}

.doctor .entry img {
	width: 100%;
	height: 100%;
}

.doctor .entry h5 {
	font-size: 18px;
	margin-top: 10px;
}

.doctor .entry h6 {
	font-size: 14px;
	color: #888;
	margin-top: 5px;
}

.doctor .row:last-child {
	margin-bottom: 0;
}

.doctor .pagination ul {
	margin-top: 40px;
	list-style: none;
	text-align: center;
}

.doctor .pagination ul li {
	display: inline-block;
	background: #f3f3f3;
	margin: 0 2px;
	border: 1px solid #dedede;
}

.doctor .pagination ul .active {
	background: #52c0ff;
	color: #fff;
	border-color: #52c0ff;
}

.doctor .pagination li a {
	font-size: 14px;
	line-height: 27px;
}

/*===================
	services
===================*/
.services .entry i {
	color: #52c0ff;
	font-size: 30px;
	margin-bottom: 12px;
}

.services .entry h5 {
	font-size: 18px;
}

.services .row:last-child {
	margin-bottom: 0;
}

/*===================
	features
===================*/
.features {
	text-align: center;
}

.features .app-title {
	margin-bottom: 30px;
}

.features .entry i {
	color: #52c0ff;
	font-size: 30px;
	margin-bottom: 15px;
}

.features .entry h5 {
	font-size: 18px;
}

.features .row-last {
	margin-bottom: 0;
}

/*===================
	details
===================*/
.details h3 {
	font-size: 20px;
	margin-top: 10px;
}

.details img {
	width: 100%;
	height: 100%;
}

.details .calendar {
	padding: 0;
	margin: 0;
	margin-top: 5px;
}

.details .calendar li {
	display: inline-block;
	margin-right: 5px;
}

.details .button-ul li {
	display: inline-block;
}

.in-details h4 {
	font-size: 20px;
	margin-top: 30px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 8px;
	margin-bottom: 18px;
}

.details .comment .content .entry {
	overflow: hidden;
	margin-bottom: 22px;
}

.details .comment .content p {
	margin: 8px 0;
}

.details .comment .content img {
	width: 80px;
	height: 80px;
	float: left;
	margin-right: 15px;
}

.details .comment .content {
	border-top: 1px solid #eee;
	padding-top: 20px;
	margin-top: 10px;
}

@media (min-width: 768px) {
	.details .comment .content {
		border-top: 1px solid #eee;
		padding-top: 20px;
		margin-top: 10px;
		padding-bottom: 10px;
	}
}

.details .post-comment .content {
	border-top: 1px solid #eee;
	padding-top: 20px;
	margin-top: 10px;
}

.details .post-comment .content textarea {
	margin-bottom: 20px;
}

.details .post-comment .content {
	
}
.details .post-comment .content {
	
}
.details .post-comment .content {
	
}

/*===================
	gallery
===================*/
.gallery img {
	width: 100%;
	height: 100%;
}

.gallery .pagination ul {
	margin-top: 30px;
	list-style: none;
	text-align: center;
}

.gallery .pagination ul li {
	display: inline-block;
	background: #f3f3f3;
	margin: 0 2px;
	border: 1px solid #dedede;
}

.gallery .pagination ul .active {
	background: #52c0ff;
	color: #fff;
	border-color: #52c0ff;
}

.gallery .pagination li a {
	font-size: 14px;
	line-height: 27px;
}

/*===================
	rating
===================*/

.rating {
	font-size: 12px;
	margin-top: 5px;
}

.rating .active {
	color: #fecd2d;
}

/*===================
	booking
===================*/
.booking-form .row {
	margin-bottom: 0;
}

.booking-form .select-wrapper span.caret {
	right: 10px;
	color: #777;
	z-index: 99;
}

/*===================
	department
===================*/
.department .row:last-child {
	margin-bottom: 0;
}

.department .entry img {
	width: 100%;
	height: 100%;
}

.department .entry h5 {
	margin-top: 10px;
	font-size: 18px;
}

.department .pagination ul {
	margin-top: 40px;
	list-style: none;
	text-align: center;
}

.department .pagination ul li {
	display: inline-block;
	background: #f3f3f3;
	margin: 0 2px;
	border: 1px solid #dedede;
}

.department .pagination ul .active {
	background: #52c0ff;
	color: #fff;
	border-color: #52c0ff;
}

.department .pagination li a {
	font-size: 14px;
	line-height: 27px;
}

/*===================
	product
===================*/
.product {
	text-align: center;
}

.product.popular {
	padding: 10px 0 40px 0;
}

.product .app-title {
	margin-bottom: 30px;
}

.product .tabs {
	margin-bottom: 10px;
	text-align: center;
}

.product .tabs .tab {
	text-transform: none;
}

.product .tabs .tab a {
	color: #444;
	font-size: 18px;
}

.product .tabs .tab a.active {
	color: #ffb300;
}

.product .tabs .indicator {
	background: transparent;
}

.product .entry {
	position: relative;
	text-align: center;
	border-radius: 4px;
	padding: 10px;
	border: 2px solid #eee;
}

.product .entry img {
	width: 100%;
	height: 100%;
}

.product .entry .button {
	margin-top: 10px;
	margin-bottom: 5px;
}


.rating .active {
	color: #fecd2d;
}

.product .entry h6,
.product .entry .rating,
.product .entry .price {
	margin-top: 2px;
}

/*===================
	checkout
===================*/
.checkout .order {
	background: #fefefe;
	margin-top: 25px;
	padding: 16px 12px 2px;
	border: 1px solid #ddd;
	margin-bottom: 35px;
}

.checkout .order .title {
	text-align: center;
}

.checkout .order h5 {
	margin-bottom: 14px;
}

.checkout .order h5 span {
	font-size: 18px;
}

.checkout .order h6 {
	margin-bottom: 8px;
	font-size: 16px;
	color: #666;
}

.checkout .link {
	position: relative;
	top: -12px;
}

.checkout .order .text-right {
	text-align: right;
}

.checkout .order .button {
	margin-top: 10px;
	margin: auto;
	display: block;
}

/*===================
	pricing
===================*/
.pricing {
	text-align: center;
}

.pricing .entry {
	border-radius: 3px;
	padding: 15px 15px 10px;
}

.pricing .entry h4 {
	font-size: 18px;
}

.pricing .entry span {
	font-size: 28px;
	font-weight: 700;
	color: #52c0ff;
	display: block;
	margin-top: 10px;
}

.pricing .entry ul {
	margin: 0;
	padding: 0;
}

.pricing .entry ul li {
	padding: 6px 0;
	font-weight: bold;
}


/*===================
	section, title and bg
===================*/
.app-section {
	padding: 25px 0 30px 0;
}

.app-pages {
	margin-top: 55px;
}

.app-title {
	text-align: center;
	margin-bottom: 20px;
}

.app-title h4 {
	font-family: 'Playfair Display', serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #333;
	text-align: center;
	margin-bottom: 10px;
}

.app-title i {
	color: #52c0ff;
	font-size: 16px;
}

.app-title .line {
	padding: 0;
	background: #52c0ff;
	height: 2px;
	margin: -2px auto 5px;
	width: 40px;
}

.app-title .line li {
	display: inline-block;
}

.app-title .line li i {
	color: #52c0ff;
}

.app-title .line .line-center {
	font-size: 20px;
	vertical-align: middle;
}

.pages-title {
	margin-bottom: 20px;
	text-align: center;
}

.pages-title h3 {
	font-size: 25px;
	font-family: 'Playfair Display', serif;
}

.app-bg-dark {
	background: #f4f4f4;
}

.app-bg-light {
	background: #fff;
}

.app-bg-light .entry {
	background: #f3f3f3;
}

.app-last-row {
	margin-bottom: 0;
}

.trash-mb {
	margin-bottom: 0;
}

/*===================
	pagination
===================*/
.pagination ul {
	margin-top: 40px;
	list-style: none;
	text-align: center;
}

.pagination ul li {
	display: inline-block;
	background: #f3f3f3;
	margin: 0 2px;
	border: 1px solid #dedede;
}

.pagination ul .active {
	background: #52c0ff;
	color: #fff;
	border-color: #52c0ff;
}

.pagination li a {
	font-size: 14px;
	line-height: 27px;
}

/*===================
	product details
===================*/
.product-details .entry {
	position: relative;
}

.product-details .entry img {
	width: 100%;
	height: 100%;
	border: 1px solid #ddd;
	padding: 10px;
	margin-bottom: 5px;
}

.product-details .entry .tabs {
	height: auto;
}

.product-details .entry .tabs a.active {
	border: 1px solid #52c0ff;
}

.product-details .entry .tabs a {
	border: 1px solid #ddd;
}

.product-details .entry .tabs img {
	border: 0;
}

.product-details .entry .tabs .indicator {
	height: 0;
	background: transparent;
}

.product-details .entry .tabs .tab {
	height: auto;
}

.product-details .details .button  {
	margin-top: 20px;
}

.product-details .desc-review {
	margin-top: 30px;
}

.product-details .desc-review .tabs {
	height: 30px;
}

.product-details .desc-review .tabs .indicator {
	background: #52c0ff;
}

.product-details .desc-review .tab {
	height: 30px;
	text-transform: none;
}

.review .comment .content .entry {
	overflow: hidden;
	margin-bottom: 22px;
}

.review .comment .content p {
	margin: 8px 0;
}

.review .comment .content img {
	width: 80px;
	height: 80px;
	float: left;
	margin-right: 15px;
	border-radius: 50%;
}

.review .comment .content {
	border-bottom: 1px solid #eee;
	padding-top: 20px;
	margin-top: 10px;
}

.review .post-review {
	margin-top: 20px;
}

.review .post-review h6 {
	margin-bottom: 15px;
}

/*===================
	product cart
===================*/
.product-cart .entry {
	border: 1px solid #ddd;
	padding: 10px 16px 0 10px;
}

.product-cart .entry h6,
.product-cart .cart-total h6 {
	font-size: 15px;
}

.product-cart .entry img {
	width: 100%;
	height: 100%;
	border: 1px solid #ddd;
}

.product-cart .entry .cart-title {
	padding: 10px 0 0;
}

.product-cart .entry .cart-title i {
	text-align: right;
	float: right;
}

.product-cart .entry .s-title {
	border-top: 1px solid #ddd;
	padding-top: 20px;
}

.product-cart .entry input[type="number"] {
	height: 25px;
	border: 1px solid #ccc;
	padding: 0;
	width: 40px;
	text-align: center;
	position: relative;
	bottom: 4px;
}

.product-cart .cart-total {
	text-align: right;
	margin-top: 25px;
}

.product-cart .cart-total h5,
.product-cart .cart-total h6 {
	margin-bottom: 10px;
}

.product-cart .cart-total h5 {
	font-size: 18px;
}

.product-cart .cart-total .button {
	text-align: center;
	margin-right: 10px;
	margin-top: 10px;
}

/*===================
	blog
===================*/
.blog {
	position: relative;
}

.blog .entry {
	margin-bottom: 30px;
}

.blog .entry h5 {
	font-size: 18px;
}

.blog .entry img {
	width: 100%;
	height: 100%;
}

.blog .entry .user-date ul {
	list-style: none;
}

.blog .entry .user-date ul li {
	display: inline-block;
	margin-right: 12px;
}

.blog .entry .user-date ul li a i {
	margin-right: 6px;
	color: #52c0ff;
}

.blog .pagination ul {
	margin-top: 40px;
	list-style: none;
	text-align: center;
}

.blog .pagination ul li {
	display: inline-block;
	background: #f3f3f3;
	margin: 0 2px;
	border: 1px solid #dedede;
}

.blog .pagination ul .active {
	background: #52c0ff;
	color: #fff;
	border-color: #52c0ff;
}

.blog .pagination li a {
	font-size: 14px;
	line-height: 27px;
}

/*===================
	blog single
===================*/
.blog-single {
	position: relative;
}

.blog-single .entry {
	margin-bottom: 30px;
}

.blog-single .entry img {
	width: 100%;
	height: 100%;
}

.blog-single .entry .user-date ul {
	list-style: none;
}

.blog-single .entry .user-date ul li {
	display: inline-block;
	margin-right: 12px;
}

.blog-single .entry .user-date ul li a i {
	margin-right: 6px;
	color: #52c0ff;
}

.blog-single .share ul {
	list-style: none;
	margin-top: 15px;
}

.blog-single .share ul li {
	display: inline-block;
}

.blog-single .share ul li h6 {
	margin-right: 4px;
	position: relative;
	bottom: 2px;
}

.blog-single .share ul li a i {
	font-size: 20px;
	margin: 0 4px;
}

.blog-single .author {
	border-top: 1px solid #eee;
	padding-top: 20px;
	position: relative;
}

.blog-single .author .entry {
	overflow: hidden;
}

.blog-single .author p {
	margin: 8px 0;
}

.blog-single .author img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	float: left;
	margin-right: 15px;
}

.blog-single .author .entry ul {
	padding: 0;
	margin: 0;
}

.blog-single .author .entry ul li {
	display: inline-block;
	margin-right: 3px;
}

.blog-single .comment .content .entry {
	overflow: hidden;
	margin-bottom: 22px;
}

.blog-single .comment .content p {
	margin: 8px 0;
}

.blog-single .comment .content img {
	width: 80px;
	height: 80px;
	float: left;
	margin-right: 15px;
}

.blog-single .comment .content {
	border-top: 1px solid #eee;
	padding-top: 20px;
	margin-top: 10px;
}

@media (min-width: 768px) {
	.blog-single .comment .content {
		border-top: 1px solid #eee;
		padding-top: 20px;
		margin-top: 10px;
		padding-bottom: 10px;
	}
}

.blog-single .post-comment .content {
	border-top: 1px solid #eee;
	padding-top: 20px;
	margin-top: 10px;
}

.blog-single .post-comment .content textarea {
	margin-bottom: 20px;
}

.blog-single .post-comment .content {
	
}
.blog-single .post-comment .content {
	
}
.blog-single .post-comment .content {
	
}

/*===================
	form custom
===================*/
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"], 
input[type="number"],
input[type="date"],
.select-wrapper input.select-dropdown {
	border: 1px solid #ddd;	
	height: 32px;
	border-radius: 2px;
	width: 100%;
	overflow: visible;
	padding: 0 10px;
	box-sizing: border-box;
	color: #999;
	line-height: 20px;
}

input:not([type]):focus:not([readonly]),
input[type="text"]:focus:not([readonly]),
input[type="email"]:focus:not([readonly]),
input[type="password"]:focus:not([readonly]),
input[type="tel"]:focus:not([readonly]), 
input[type="number"]:focus:not([readonly]), 
input[type="date"]:focus:not([readonly]) {
	border-bottom: 1px solid #ddd;
	box-shadow: none;
}

textarea {
	border: 1px solid #ddd;	
	border-radius: 2px;
	width: 100%;
	overflow: visible;
	padding: 10px;
	box-sizing: border-box;
	height: auto;
	margin-bottom: 20px;
}

.picker__weekday-display {
	background-color: #52c0ff;
} 

.picker__nav--prev:hover, .picker__nav--next:hover {
	background: #52c0ff;
}

.picker__date-display {
	background-color: #52c0ff;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
	background-color: #52c0ff;
}

.picker__day.picker__day--today {
	color: #52c0ff;
}

/*===================
	placeholder color
===================*/
::-webkit-input-placeholder {
   color: #999;
}

:-moz-placeholder { /* Firefox 18- */
   color: #444;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #444;  
}

:-ms-input-placeholder {  
   color: #444;  
}

/*===================
	login
===================*/ 
.login strong {
	display: block;
	position: relative;
	bottom: 5px;
}

.login .forgot {
	margin-bottom: 10px;
	display: block;
}

.login [type="checkbox"] + label {
	padding-left: 30px;
	color: #333;
}

.login [type="checkbox"]:checked + label::before {
	border-right: 2px solid #52c0ff;
border-bottom: 2px solid #52c0ff;
}

.login .button {
	margin-top: 12px;
	margin-bottom: 24px;
	width: 100%;
}

.login .create-account {
	text-align: center;
}

.login .or h5 {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 40px;
	height: 40px;
	background: #52c0ff;
	color: #fff;
	margin-right: auto;
	margin-left: auto;
	border-radius: 50%;
	line-height: 40px;
}

.login .or .button {
	margin-top: 12px;
	margin-bottom: 12px;
}

.login .facebook {
	background: #3b5998;
}

.login .twitter {
	background: #00aced;
}

.login .google {
	background: #dd4b39;
}

/*===================
	register
===================*/
.register .button {
	margin-top: 5px;
	margin-bottom: 14px;
	width: 100%;
}

.register .login-now {
	text-align: center;
	display: block;
}

.register .or h5 {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
	width: 40px;
	height: 40px;
	background: #52c0ff;
	color: #fff;
	margin-right: auto;
	margin-left: auto;
	border-radius: 50%;
	line-height: 40px;
}

.register .or .button {
	margin-top: 12px;
	margin-bottom: 12px;
}

.register .facebook {
	background: #3b5998;
}

.register .twitter {
	background: #00aced;
}

.register .google {
	background: #dd4b39;
}

/*===================
	404 page
===================*/
.page-404 {
	text-align: center;
}

.page-404 h3 {
	font-size: 96px;
}

.page-404 h3 span {
	color: #52c0ff;
}

.page-404 .button {
	margin: 10px 0;
	display: inline-block;
}

.page-404 .button a {
	color: #fff;
}

/*===================
	testimonial
===================*/
.testimonial {
	text-align: center;
}

.testimonial .app-title {
	margin-bottom: 0;
	font-size: 26px;
	color: #52c0ff;
}

.testimonial .app-title i {
	font-size: 22px;
}

.testimonial img {
	border-radius: 50%;
    margin: 5px 0 5px 0;
    height: 60px;
    width: 60px;
}

.testimonial .owl-theme .owl-controls .owl-page span {
	width: 10px;
	height: 10px;
}

/*===================
	faq
===================*/
.faq .collapsible {
	border: none;
	box-shadow: none;
}

.faq .collapsible li {
	margin-bottom: 6px;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
}

.faq .collapsible li .collapsible-header {
	font-size: 16px;
	color: #666;
}

.faq .collapsible li .collapsible-header i {
	float: right;
	margin-right: 0;
	width: auto;
	font-size: 14px;
}

.faq .collapsible li .collapsible-body p {
	padding: 16px;
}

/*===================
	footer
===================*/
footer {
	background: #52c0ff;
	text-align: center;
	padding: 40px 0;
	display: block;
}

footer h6 {
	color: #fff;
}

footer .icon-social {
	padding: 0;
	margin: 0;
	list-style: none;
	margin-top: 20px;
	margin-bottom: 15px;
}

footer .icon-social li {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin: 0 3px;
	border-radius: 100%;
}

footer .icon-social .facebook {
	background: #3b5998;
}

footer .icon-social .twitter {
	background: #00aced;
}

footer .icon-social .google {
	background: #dd4b39;
}

footer .icon-social .instagram {
	background: #517fa6;
}

footer .icon-social .rss {
	background: #fe7e00;

}

footer ul li a {
	color: #fff;
}

footer .tel-fax-mail ul {
	list-style: none;
	padding: 0;
	margin: 0;
	color: #fff;
}

footer .tel-fax-mail ul li {
	padding: 4px 0;
}

footer .tel-fax-mail ul li span {
	font-weight: bold;
	padding: 0;
	margin: 0;
}

footer .ft-bottom {
	border-top: dotted 1px #fff;
	margin-top: 20px;
	padding-top: 20px;
	color: #eee;
}